.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

dso_admin/.sass-cache/

newsletters/promo/versions
newsletters/extensive/versions